@charset "utf-8";
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

@mixin font($font-family, $font-weight, $font-style, $font-file) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: url($font-file + ".ttf") format("truetype");
  }
}

// Import fonts
@include font(FiraSans, 300, normal, "/fonts/Fira/FiraSans-Light");
@include font(FiraSans, 300, italic, "/fonts/Fira/FiraSans-LightItalic");
@include font(FiraSans, 400, normal, "/fonts/Fira/FiraSans-Regular");
@include font(FiraSans, 400, italic, "/fonts/Fira/FiraSans-Italic");
@include font(FiraSans, 500, normal, "/fonts/Fira/FiraSans-Medium");
@include font(FiraSans, 500, italic, "/fonts/Fira/FiraSans-MediumItalic");
@include font(FiraSans, 600, normal, "/fonts/Fira/FiraSans-SemiBold");
@include font(FiraSans, 600, italic, "/fonts/Fira/FiraSans-SemiBoldItalic");
@include font(FiraSans, 700, normal, "/fonts/Fira/FiraSans-Bold");
@include font(FiraSans, 700, italic, "/fonts/Fira/FiraSans-BoldItalic");
@include font(Montserrat, 600, normal, "/fonts/Montserrat/Montserrat-SemiBold");
@include font(Montserrat, 700, normal, "/fonts/Montserrat/Montserrat-Bold");
@include font(Montserrat, 800, normal, "/fonts/Montserrat/Montserrat-ExtraBold");

$family-primary: FiraSans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-weight: 700;
}

// Colors
$primary: #2c2c2c;
$accent: #ff0050;
$text: #4a4a4a;
$body-background-color: #f8f7f7;
$input-arrow: $accent;
$link: $accent;
$navbar-burger-color: $accent;

//General styles
*:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/base/minireset.sass";
@import "../node_modules/bulma/sass/base/animations.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/helpers/flexbox.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
